.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
  
  .tab-link {
    background-color: #f1f1f1;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  .tab-link:hover {
    background-color: #ddd;
  }
  
  .tab-link.active {
    background-color: #ccc;
  }
  
  .tab-content {
    display: none;
  }
  
  .tab-content.active {
    display: block;
  }
  